p {
	color: #7f7979
}
.lorem {
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#p1 {
	color: hsl(0, 100%, 60%);
	font-size: 1.6em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#lorem {
	margin-left: 40px;
}
#div1 {
	background-color: rgb(228, 198, 161);
	border: 5px solid;
	border-right: 10px solid;
	border-color: rgb(228, 198, 161);
}
#paganigif {
	float: left;
	margin-right: 10px;
	margin:5px
	
}
#paganiimg {
	float: right;
	margin: 5px;
	
}
#div2 {
	border: 5px solid;
	overflow:auto;

}
body {
	display: flow-root;
}

#longp1 {
	
}